<form [formGroup]="register" (ngSubmit)="onSubmit()" class="register">
    <h1>Registrar-se</h1>
  
    <div>
      <label for="name">Nome Completo:</label>
      <input type="text" id="name" formControlName="name" />
      <span *ngIf="register.get('name')?.invalid && register.get('name')?.touched">
        O nome completo é obrigatório e deve ter no mínimo 6 caracteres.
      </span>
    </div>
  
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
      <span *ngIf="register.get('email')?.invalid && register.get('email')?.touched">
        Digite um e-mail válido.
      </span>
    </div>
  
    <div>
      <label for="password">Senha:</label>
      <input type="password" id="password" formControlName="password" />
      <span *ngIf="register.get('password')?.invalid && register.get('password')?.touched">
        A senha deve ter pelo menos 8 caracteres.
      </span>
    </div>
  
    <div>
      <label for="role">Perfil de usuário</label>
      <select id="role" formControlName="role">
        <option value="" disabled selected>Selecione um perfil</option>
        <option value="admin">Admin</option>
        <option value="user">Usuário</option>
      </select>
    </div>
  
    <button type="submit" [disabled]="register.invalid">Registrar-se</button>
  </form>
  